.miDivision{

    border: skyblue solid 1px;
    width: 250px;
    margin: 0 auto;

}

.inputText{

    width: 100px;
    margin: 20px;
    border: skyblue solid 1px;
    font-size: 10px;
}

.myButton{

    margin: 20px;
    background-color: aquamarine;
    border-style: none;
    width: 100px;
    height: 20px;
}
#resultado{

    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    width: 50px;
    margin: 0 auto;
}